@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #827b7b;
    --foreground: #191818;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes scaleIn {
  0% { opacity: 0; transform: scale(0.95) }
  100% { opacity: 1; transform: scale(1) }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}